/* body {
  margin-top: 100px;
  background-image: url(welcome1.jpg);
  background-position: relative;
  /* background-position: center; */
/* background-size: cover;
  background-repeat: no-repeat;
*/

.goodbye {
  text-align: center;
  background-image: url(7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.goodbyeHome {
  height: 125px;
  width: 125px;
  margin-top: -10px;
}
