/* body {
  margin-top: 100px;
  background-image: url(welcome1.jpg);
  background-position: relative;
  /* background-position: center; */
/* background-size: cover;
  background-repeat: no-repeat;
*/

h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 6rem;
  font-weight: normal;
  color: #ec5a65;
  font-family: fantasy;
}

.details {
  margin-top: 40px;
}
