.textBox {
  height: 140px;
  width: 130px;
  margin-bottom: 0px;
}
.imageBox {
  margin-bottom: 10px;
  height: 125px;
  width: 125px;
}

.titleControl {
  height: 50px;
}

.bottom {
  margin-top: -5px;
}

.iconControl {
  margin-bottom: -10px;
}

/* .box {
  height: 200px;
  width: 200px; */

.chores {
  margin-top: 0px;
  height: 40px;
  width: 40px;
  margin-bottom: 0px;
}

.chores1 {
  margin-top: 0px;
  height: 45px;
  width: 45px;
  margin-bottom: 0px;
}
